<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>


    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- index.js는 회원가입이 안 되어 있는 곳 = 홈화면이 보이긴 하나,
      무엇이든 클릭하면 회원가입으로 넘어가도록!-->

    <% include ./../layout/sellerloginheader.ejs %>
    <% include ./../layout/sellercategory.ejs %>
    
    <!-- 안에 들어가는 내용의 height이 500px 미만이면 아래 <div class="row" 옆에 style="height: 500px" 이렇게 설정-->
    <div class="row" >
      <div class="col-2" >
        <% include ./../layout/sellermenubar.ejs %>
      </div>
      <div class="col-10" >    
        <!-- 내용 들어갈 자리 !!! -->
        <div class="row" style="height: 20px;"></div>
        <button class="btn" id="newgoodsbtn" onclick="registerProduct()" style="background-color: #DFE7F6; border-radius: 15px; box-shadow: #ced5e0 2px 2px 2px;">새로운 상품 등록하러 가기
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
          </button>

      </div>
    </div>
  </div>


</body>

  <% include ./../layout/footer.ejs %>
</html>

<script>
  function registerProduct() {
    // 새로운 상품 등록하러 가기
    location.href="seller/product"
  }
</script>
