body {
  background-color: #F9F6F6;
}

li {
  margin-left: -20px;
}

a {
  color: #00B7FF;
}

#footer {
  position:relative;
  bottom: 0;
  width: 100%;
  display: flex;
  margin-left: 0px;

}

#menubar {
  position: relative;
  width: 200px;
  height: 100%;
  display: flex;
  margin-left: 0px;
  
}

.card-img-top {
  height: 12rem;
  object-fit: contain;
  background-color: #f5eaea;
  border-radius: 5px;
}

.card-title {
  margin-top: -5px;
  margin-left: -10px;
  font-weight: 500;
}

.card {
  border-color: #ffe2e2;
  background-color: #F9F6F6;
}

.d-block {
  height: 30rem;
  object-fit: contain;
  background-color: #f9f6f6;
  /* #f3f3f3 */
}

#navtext {
  margin-top: 20px;
  color: #656565;
}

hr {
  width: 95%;
}
/*
.wrap1 {
  width : calc(90%);
  border : 1px solid black;
}

.wrap2 {
  position : relative;
  width : 100%;
}

#contentbody {
  height: 100%;
  position : absolute;
  width : 100%;
  left: 150px;
  top: -359px;
  border : 1px solid red;
}*/


/*채팅 관련 CSS*/

#msgArea {
	display: flex;
	flex-direction: column-reverse;
	width: 550px;
	height: 380px;
	border: 2px solid #777777;
	overflow: auto;
	position: center;
	text-align: center;
}

#msgArea::-webkit-scrollbar {
	width: 10px;
}
#msgArea::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
}
#msgArea::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

.message-me{
	float : right;
	background-color : beige;
	width: 50%;
	text-align: left;
}

.message{
	float : left;
	background-color : aliceblue;
	width: 50%;
	text-align: left;
}