body {
  background-color: #F9F6F6;
}

li {
  margin-left: -20px;
}

a {
  color: #ff00a2;
}

#footer {
  position:relative;
  bottom: 0;
  width: 100%;
  display: flex;
  margin-left: 0px;

}

#menubar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  
}

.card-img-top {
  height: 12rem;
  object-fit: contain;
  background-color: #f5eaea;
  border-radius: 5px;
}

#DetailImg{
  margin: 0px auto;
  object-fit: contain;
  max-width: 100%;
  height: 400px;
  background-color: #f7f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-title {
  margin-top: -5px;
  margin-left: -10px;
  font-weight: 500;
}

.card {
  border-color: #ffe2e2;
  background-color: #F9F6F6;
}

.d-block {
  height: 30rem;
  object-fit: contain;
  background-color: #f9f6f6;
  /* #f3f3f3 */
}

#navtext {
  margin-top: 20px;
  color: #656565;
}

hr {
  width: 95%;
}


ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li{
  display: inline-block;
  width: 33.5%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
	background: #f0d8d8;
	color: rgb(0, 0, 0);
	padding: 10px 15px;
	cursor: pointer;
  text-align: center;
}


#contentbody {
  height: 100%;
  position : absolute;
  width : 100%;
  left: 150px;
  top: -359px;
  border : 1px solid red;
}


/*채팅 관련 CSS*/

#msgArea {
	display: flex;
	flex-direction: column-reverse;
	width: 550px;
	height: 380px;
	border: 2px solid #777777;
	overflow: auto;
	position: center;
	text-align: center;
}

#msgArea::-webkit-scrollbar {
	width: 10px;
}
#msgArea::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
}
#msgArea::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

.message-me{
	float : right;
	background-color : beige;
	width: 50%;
	text-align: left;
}

.message{
	float : left;
	background-color : aliceblue;
	width: 50%;
	text-align: left;
}
ul.tabs li.current{
  border-top-right-radius: 5px;
	background: #ffefef;
	color: #222;
}

.tab-content{
  display: none;
	background: #ffefef;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

#myordertable {
  border-top : solid 1px rgb(48, 48, 60);
  border-bottom : solid 0.5px rgb(48, 48, 60);
}

#mygoodslist {
  border-top : solid 1px rgb(48, 48, 60);
  border-bottom : solid 0.5px rgb(48, 48, 60);
}

#myQNAlist {
  border-top : solid 1px rgb(48, 48, 60);
  border-bottom : solid 0.5px rgb(48, 48, 60);
}

#LAcard {
  
  overflow-x : auto;
}