<!-- header 아래에 있는 카테고리 -->
<!--
<script>
  function category() {
    let catenum = document.getElementById("catenum");
    const diary = document.getElementById("diary");
    const note = document.getElementById("note");
    const sticker = document.getElementById("sticker");
    const wallpaper = document.getElementById("wallpaper");

    if (diary.click) {
      catenum = 1;
      location.href = "/consumer/category/:category";
    } else if(note.click) {
      catenum = 2;
      location.href = "/consumer/category/:category";
    } else if(sticker.click) {
      catenum = 3;
      location.href = "/consumer/category/:category";
    } else if(wallpaper.click) {
      catenum = 14;
      location.href = "/consumer/category/:category";
    }
  }
  

</script>

<nav class="navbar navbar-expand" style="background-color: #191B5E; height: 40px; border-color: #616283; border-top-style: dashed; border-width: 0.5px;">
  <div class="container-fluid">
    <form class="validation-form" action="/category" method = "post" >
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup" >
      <div class="navbar-nav">
            <a class="nav-link active " aria-current="page" style="color: #bbbbbb; font-size: 14px;">문구점</a>
            <a class="nav-link" id="diary" onclick="category()" style="color: #FFFFFF; font-size: 14px;">다이어리</a>
            <a class="nav-link" id="note" onclick="category()" style="color: #FFFFFF; font-size: 14px;">필기노트</a>
            <a class="nav-link" id="sticker" onclick="category()" style="color: #FFFFFF; font-size: 14px;">스티커</a>
            <a class="nav-link" id="wallpaper" onclick="category()" style="color: #FFFFFF; font-size: 14px;">배경화면</a>
      </div>
    </div>
    <input type="hidden" name="catenum" id="catenum">
    </form>
  </div>
</nav>
-->

  <nav class="navbar navbar-expand" style="background-color: #191B5E; height: 40px; border-color: #616283; border-top-style: dashed; border-width: 0.5px;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup" >
      <div class="navbar-nav">
            <a class="nav-link active " aria-current="page" style="color: #bbbbbb; font-size: 14px;">문구점</a>
            <a class="nav-link" href="/consumer/diary" style="color: #FFFFFF; font-size: 14px;">다이어리</a>
            <a class="nav-link" href="/consumer/note" style="color: #FFFFFF; font-size: 14px;">필기노트</a>
            <a class="nav-link" href="/consumer/sticker" style="color: #FFFFFF; font-size: 14px;">스티커</a>
            <a class="nav-link" href="/consumer/wallpaper" style="color: #FFFFFF; font-size: 14px;">배경화면</a>
      </div>
    </div>
  </div>
</nav>


