<!-- 카테고리 navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #191B5E; height: 40px; border-color: #7C8390; border-top-style: dashed; border-width: 0.5px;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup" >
        <div class="navbar-nav">
              <a class="nav-link active " aria-current="page" href="#" style="color: #7C8390; font-size: 14px;">문구점</a>
              <a class="nav-link" href="#" style="color: #EEE5E5; font-size: 14px;">다이어리</a>
              <a class="nav-link" href="#" style="color: #EEE5E5; font-size: 14px;">필기노트</a>
              <a class="nav-link" href="#" style="color: #EEE5E5; font-size: 14px;">스티커</a>
              <a class="nav-link" href="#" style="color: #EEE5E5; font-size: 14px;">배경화면</a>
        </div>
      </div>
    </div>
  </nav>