<!-- header 아래에 있는 카테고리 -->

  <nav class="navbar navbar-expand" style="background-color: #191B5E; height: 40px; border-color: #616283; border-top-style: dashed; border-width: 0.5px;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup" >
      <div class="navbar-nav">
            <a class="nav-link active " aria-current="page" href="/consumer/allprod" style="color: #ffffff; font-size: 14px;">All</a>
            <a class="nav-link" href="/consumer/diary" style="color: #FFFFFF; font-size: 14px;">다이어리</a>
            <a class="nav-link" href="/consumer/note" style="color: #FFFFFF; font-size: 14px;">필기노트</a>
            <a class="nav-link" href="/consumer/sticker" style="color: #FFFFFF; font-size: 14px;">스티커</a>
            <a class="nav-link" href="/consumer/wallpaper" style="color: #FFFFFF; font-size: 14px;">배경화면</a>
      </div>
    </div>
  </div>
</nav>


