<!-- login 후 화면의 header -->
 <!-- 메인로고랑 사용자관련 메뉴 들어있는 navbar -->
<nav class="navbar navbar-expand sticky-top" style="background-color: #191B5E; height: 40px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: #FFFFFF;">able</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup" >
      <div class="navbar-nav">
            <a class="nav-link " aria-current="page" href="/logout" style="color: #ffffff; font-size: 12px;">로그아웃</a>
            <a class="nav-link" href="/consumer/mypage" style="color: #FFFFFF; font-size: 12px;">마이페이지</a>
            <a class="nav-link" href="/consumer/mycartlist" style="color: #FFFFFF; font-size: 12px;">장바구니</a>
            <a class="nav-link" href="/consumer/mycartlist" style="color: #FFFFFF; font-size: 12px;">검색</a>

      </div>
    </div>
  </div>
</nav>

<script>
  var url = window.location.pathname;

  $('.nav-link').find('a').each(function() {
    $(this).toggleClass('active', $(this).attr('href') == url);
  });
</script>