<!-- 홈 화면 이외의 창에서 항상 있을 메뉴바 -->
<link rel='stylesheet' href='/stylesheets/style.css' />

<div id ="menubar">
<ul class="meb">
</br>
  <li><a class="h6" id="diary" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg> Home</a></li>
  <li><a class="h6" id="diary" onclick="category1()">다이어리</a></li>
  <li><a class="h6" id="note" onclick="category2()">필기노트</a></li>
  <li><a class="h6" id="sticker" onclick="category3()">스티커</a></li>
  <li><a class="h6" id="wallpaper" onclick="category4()">배경화면</a></li>
  <li><a class="h6" id="qna" onclick="qna()">Q&A</a></li>
</ul>
</div>
<script>
  function gohome() {

      const home = document.getElementById("home");
      location.href = "/consumer";
  }

  function category1() {
      const diary = document.getElementById("diary");
      location.href = "/consumer/diary";
  }

  function category2() {
    const note = document.getElementById("note");
      location.href = "/consumer/note";
  }
  function category3() {
    const sticker = document.getElementById("sticker");
      location.href = "/consumer/sticker";
  }
  function category4() {
    const wallpaper = document.getElementById("wallpaper");
      location.href = "/consumer/wallpaper";
  }

function qna() {
  location.href = "/consumer/qna";
}
</script>
