<!-- header 아래에 있는 카테고리 -->
<nav class="navbar navbar-expand" style="background-color: #191B5E; height: 40px; border-color: #616283; border-top-style: dashed; border-width: 0.5px;">
    <div class="container-fluid">
  
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup" >
        <div class="navbar-nav">
              <a class="nav-link active" href="/seller/product" style="color: #FFFFFF; font-size: 14px;">상품 등록</a>
              <a class="nav-link" href="/seller/productlist" style="color: #FFFFFF; font-size: 14px;">상품 조회</a>
              <a class="nav-link" href="/seller/worklist" style="color: #FFFFFF; font-size: 14px;">상품제작</a>
              <a class="nav-link" href="#" style="color: #FFFFFF; font-size: 14px;">둘러보기</a>

        </div>
      </div>
    </div>
  </nav>