<!-- 판매자 마이페이지 메뉴바 -->
<link rel='stylesheet' href='/stylesheets/style.css' />

<div class="container" id ="menubar" style="background-color: #f0d8d8;">
  <div class="container mx-4 mt-3 mb-5">
      <ul class="nav flex-column">
          <li class="nav-item">
              <br/>
              <p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                  </svg> HOME
                </p>
          </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/seller/mypage/pageShopinfo" style="color: #000000; font-size: 14px;">매장정보</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/seller/chatlist" style="color: #000000; font-size: 14px;">일대일 채팅 내역</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #000000; font-size: 14px;">회원 탈퇴</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/seller/myqnalist" style="color: #000000; font-size: 14px;">내 Q&A</a>
        </li>
      </ul>
    </div>
</div>